nuxeo-ai-core/src/main/resources/schemas/doctypes_pp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/doctypes_pp"
           targetNamespace="http://www.nuxeo.org/ecm/project/schemas/doctypes_pp">

  <xs:simpleType name="stringList">
    <xs:list itemType="xs:string"/>
  </xs:simpleType>

  <xs:element name="doctypes_agg" type="nxs:stringList"/>
  <xs:element name="filled_agg" type="nxs:stringList"/>
  <xs:element name="corrected_agg" type="nxs:stringList"/>
  <xs:element name="doctypes" type="nxs:stringList"/>
</xs:schema>
